.weather-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(140, 127, 255);
    width: 25%;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.weather-info > p {
    color: whitesmoke;
}

.weather-info > h2 {
    color: white;

}