@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik:wght@300&display=swap');

.App {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(rgb(43, 113, 206),rgb(255, 229, 159));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-box {
    background-color: rgb(156, 84, 224);
    height: 80%;
    width: 45%;
    border-radius: 4px;
}

#image {
    height: 100px;
    width: 100px;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 7%;
    margin-bottom: 5%;
}

.loading{
    color: white;
}
.weather-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 7%;
}

#cityLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    color: white;
    font-weight: bold;
}

.search-bar > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: rgb(78, 73, 73);
    color: white;
    font-size: 0.7rem;
    border: 0;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
}

.modalAndSearchPad {
    width: 50%;
    height: 100%;
}

.search-pad {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-sizing : border-box ;
    border: none;
    padding-left: 4px;
}

.modal{
    background-color: white;
    position: fixed;
    width: 22.5%;
    visibility: hidden;
    border-radius: 0 0 8px 8px;
}

li {
    display: flex;
    align-items: center;
    height: 27px;
    width: 100%;
    box-sizing : border-box ;
    list-style-type: none;
    padding-left: 4px;
}

li:hover {
    cursor: pointer;
    background-color: rgb(223, 214, 214);
    transition: 0.5s ease;
}

.search-pad:focus {
    outline: none;
}

.search-pad:focus + .modal {
    visibility: visible;
}

.bottomPadding {
    height: 7px;
}